{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div>
    {{ title }}
    <div>
        <table class="table table-striped">
            <thead class="table-dark">
            <tr>
                <th>User Name</th>
                <th>User Email</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users_list %}
            <tr>
                <td>{{ user.user_name }}</td>
                <td>{{ user.user_email }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <form action="add_user" method="get">
        <input type="submit" value="Add user">
    </form>
</div>
{% endblock %}